<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.mapper.AdminMapper">
	
						<!-- 일반회원 관련 -->
	
	<!-- 일반회원 리스트조회 -->
	<select id="getUserlist" resultType="com.team.domain.UserVO" >
		  SELECT * FROM GH_User u JOIN GH_auth a ON(u.userid = a.userid) where a.auth = "ROLE_USER" order by regdate desc ;
    </select>
	
	<!-- 일반회원 회원추가 -->
	<insert id="getUserinsert">
		INSERT INTO GH_User
		(userid, userpw, username, userPhone, userEmail, useradd)
		VALUES
		(#{userid}, #{userpw}, #{userName}, #{userPhone}, #{userEmail}, #{useradd})
	</insert>

	<!-- 일반회원 권한추가 -->
	<insert id="getUserinsertAuth">
		INSERT INTO GH_auth
		(userid, auth)
		VALUES
		(#{userid}, #{auth})
	</insert>
	
	<!--  일반회원 정보 수정  -->
	<update id="Userupdate">
	  UPDATE GH_User
	  SET 
	      userName = #{userName},
	      userPhone = #{userPhone},
	      userEmail = #{userEmail},
	      useradd = #{useradd},
	      updatedate = now()
	  WHERE
	      userid = #{userid}
	</update>
	
	<!-- 일반회원 회원탈퇴 -->
	<delete id="Userdelete">
		DELETE FROM GH_User
		WHERE userid = #{userid}
	</delete>
	
	
						<!-- 관리자 관련 -->
						
	<!-- 관리자 리스트조회 -->
	<select id="getAdminlist" resultType="com.team.domain.UserVO" >
		  SELECT * FROM GH_User u JOIN GH_auth a ON(u.userid = a.userid) where a.auth = "ROLE_ADMIN" order by regdate desc ;
    </select>	
    
    <!-- 관리자회원 회원추가 -->
	<insert id="getAdmininsert">
		INSERT INTO GH_User
		(userid, userpw, username, userPhone, userEmail, useradd)
		VALUES
		(#{userid}, #{userpw}, #{userName}, #{userPhone}, #{userEmail}, #{useradd})
	</insert>

	<!-- 관리자회원 권한추가 -->
	<insert id="getAdmininsertAuth">
		INSERT INTO GH_auth
		(userid, auth)
		VALUES
		(#{userid}, #{auth})
	</insert>				
	
	<!--  관리자회원 정보 수정  -->
	<update id="Adminupdate">
	  UPDATE GH_User
	  SET 
	      userName = #{userName},
	      userPhone = #{userPhone},
	      userEmail = #{userEmail},
	      useradd = #{useradd},
	      updatedate = now()
	  WHERE
	      userid = #{userid}
	</update>
	
	<!-- 관리자회원 회원탈퇴 -->
	<delete id="Admindelete">
		DELETE FROM GH_User
		WHERE userid = #{userid}
	</delete>		
	
	

	
	
	
</mapper>