<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.mapper.CBoardMapper">

	<!-- 검색  -->
	<sql id="criteria">
		 <where>
		 <trim prefixOverrides="AND" >
		 	<if test='cbcategory == "t" or cbcategory == "r"'>
		 		b.cbcategory = #{cbcategory}
		 	</if>
			 <trim prefix="AND (" suffix=")">
			     <foreach  item="type" separator="OR" collection="typeArr">
			     	<choose>
			     		<when test='type == "T"'>
			     			b.title LIKE CONCAT('%', #{keyword}, '%')
			     		</when>
			     		<when test='type == "W"'>
			     			<!-- 
			     			b.writer LIKE CONCAT('%', #{keyword}, '%')
			     			 -->
			     			m.username LIKE CONCAT('%', #{keyword}, '%')
			     		</when>
			     		<when test='type == "C"'>
			     			b.content LIKE CONCAT('%', #{keyword}, '%')
			     		</when>
			     	</choose>
			     </foreach>
			 </trim>
		 </trim>
	     </where>
	 </sql>

	<!-- 게시글 저장   -->
	<insert id="cbinsertSelectKey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
		  	INSERT INTO  C_board (title, content, writer, cbcategory)
		  	VALUES (#{title}, #{content}, #{writer}, #{cbcategory})
	</insert>
	  
	  
	<!-- 게시글 읽어오기  -->
	 <select id="readcb" resultType ="com.team.domain.CBoardVO">
	 
		  	SELECT 
		  	 b.bno bno,
		  	 b.title title,
		  	 b.content content,
		  	 b.writer writer,
		  	 b.regdate regdate,
		  	 b.updatedate updateDate,
		  	 b.cbcategory cbcategory,
		  	 f.fileName fileName,
		  	 m.username writerName
		  	FROM C_board b LEFT JOIN C_board_file f ON b.bno = f.bno
		  	                      JOIN  TP_User m ON b.writer = m.userid
		  	WHERE b.bno = #{bno}
	  </select>
		  
		  
	
  	  <select id="getcbList" resultType="com.team.domain.CBoardVO">
		  	SELECT * FROM C_board
		  	WHERE writer = #{writer}
		  	ORDER BY bno DESC
	  </select>
	  
	  <select id="getcbListWithPaging" resultType="com.team.domain.CBoardVO">
	
	    SELECT 
	    	b.bno bno,
	    	b.title title,
	    	b.content content,
	    	b.writer writer,
	    	b.regdate regdate,
	    	b.updatedate updateDate,
	    	b.cbcategory cbcategory,
	    	m.username writerName,
	    	COUNT(r.rno) replyCnt
	     FROM C_board b LEFT JOIN cb_reply r ON b.bno = r.bno
	     				INNER JOIN TP_User m ON b.writer = m.userid
	     <include refid="criteria"></include>
	
	
	     GROUP BY b.bno
	     ORDER BY b.bno DESC
	     LIMIT #{from}, #{amount}
	
	  </select>
	  
	  
	 <select id="getcbTotalCount" resultType="int">
 		 SELECT COUNT(*) FROM C_board b INNER JOIN TP_User m ON b.writer = m.userid
 		  <include refid="criteria"></include>
 	 </select>
	  
	  
	<update id="cbupdate">
	  UPDATE C_board
	
		SET
		  	  title = #{title}, 
		  	  content = #{content},
		  	  writer = #{writer},
		  	  cbcategory = #{cbcategory},
		  	  updateDate = NOW()
	
		WHERE
			 bno = #{bno}
	  </update>
	  
	 <delete id="cbdelete">
	  		DELETE FROM C_board WHERE bno = #{bno}
	 </delete>
	 
	 
	 <select id="listCBoardBno" resultType="long">
	 SELECT bno FROM C_board WHERE writer = #{userid}
	 </select>
	  
	  
	 <!-- 메인중고마켓 게시글조회  -->
    <select id="getCbMainList" resultType="com.team.domain.CBoardVO">
		SELECT bno,
		     title,
		      content,
		      writer,
		      regdate,
		      updatedate,
		      cbcategory
		FROM C_board
		ORDER BY regdate DESC
		LIMIT 5
	</select>	  
	  
</mapper>
		