<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.mapper.CsMapper">

	
	<!-- 공지사항 -->
	
	<select id="getNoticeList" resultType="com.team.domain.NoticeVO">
		<![CDATA[
    	SELECT 
    		nno nno,
    		ntitle ntitle,
    		userid userid,
    		ndetail ndetail,
    		nregdate nregdate  
    	  	
     	FROM notice
    	 
     	ORDER BY nno DESC
     
    	 LIMIT #{from}, #{amount}
    ]]>
	</select>
	
	<!-- resultType : 결과를 받을 타입 지정 -->
	<!-- 페이징 : 게시글 총 갯수 -->
	<select id="getTotalCountN" resultType="int">
		SELECT COUNT(*) FROM notice n
		<!-- <include refid="criteria"></include> -->
	</select>
	
	<insert id="noticeWriting" useGeneratedKeys="true" keyProperty="nno" keyColumn="nno">
		INSERT INTO notice
		(ntitle, userid, ndetail)
		VALUES
		(#{ntitle}, #{userid}, #{ndetail} )
	</insert>
	
	<select id="noticeReading" resultMap="noticeMap">
		SELECT
			n.nno nno,
			n.ntitle ntitle,
			n.userid userid,
			n.ndetail ndetail,
			n.nregdate nregdate,
			nf.fileName fileName,
			a.userid userid
		FROM
			notice n 
		LEFT JOIN
			notice_file nf
		ON
			n.nno = nf.nno
		JOIN 
			TP_User a 
		ON 
			n.userid = a.userid 	
		WHERE
			n.nno = #{nno};
	</select>
	
	<update id="noticeModify">
	UPDATE notice

	SET
		ntitle = #{ntitle},
		ndetail = #{ndetail},
		userid = #{userid}	
		
	WHERE
		nno = #{nno}
	  </update>
	
	<delete id="noticeDelete">
		DELETE FROM notice
		WHERE nno= #{nno};
	</delete>

	  <!-- 메인공지사항 글조회  -->
	<select id="getNoticeMainList" resultType="com.team.domain.NoticeVO">
		SELECT nno,
		      ntitle,
		      userid,
		      ndetail,
		      nregdate
		FROM notice
		ORDER BY nregdate DESC
		LIMIT 5;
	 </select>


	<!-- 다중 파일 notice_file -->
	  <resultMap type="com.team.domain.NoticeVO" id="noticeMap">
	  	<id property="nno" column="nno" />
	  	<result property="ntitle" column="ntitle" />
	  	<result property="userid" column="userid" />
	  	<result property="ndetail" column="ndetail" />
	    <result property="nregdate" column="nregdate" />
	  	<collection property="fileName" resultMap="fileNameMap"></collection>
	  </resultMap>
	  
	  <resultMap type="string" id="fileNameMap">
	  	<result column="fileName" />
	  </resultMap>
	
	
</mapper>