<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.mapper.EBoardMapper">


	<!-- 게시글 저장   -->
	<insert id="ebinsertSelectKey" useGeneratedKeys="true" keyProperty="eno" keyColumn="eno">
		  	INSERT INTO  E_board (title, content, writer, addRegion, addCi, addGu)
		  	VALUES (#{title}, #{content}, #{writer}, #{addRegion}, #{addCi}, #{addGu})
	</insert>
	  
	  
	<!-- 게시글 읽어오기  -->
	 <select id="readeb" resultType ="com.team.domain.EBoardVO">
	 
		  	SELECT 
		  	 e.eno eno,
		  	 e.title title,
		  	 e.content content,
		  	 e.writer writer,
		  	 e.addRegion addRegion,
		  	 e.addCi addCi,
		  	 e.addGu addGu,
		  	 e.regdate regdate,
		  	 e.updatedate updateDate,
		  	 f.fileName fileName,
		  	 m.username writerName
		  	FROM E_board e LEFT JOIN E_board_file f ON e.eno = f.eno
		  	                      JOIN  GH_User m ON e.writer = m.userid
		  	WHERE e.eno = #{eno}
	  </select>
		  
		  
	
	  <select id="getebList" resultType="com.team.domain.EBoardVO">
		  	SELECT 
		  	 e.eno eno,
		  	 e.title title,
		  	 e.content content,
		  	 e.writer writer,
		  	 e.addRegion addRegion,
		  	 e.addCi addCi,
		  	 e.addGu addGu,
		  	 e.regdate regdate,
		  	 e.updatedate updateDate,
		  	 f.fileName fileName,
		  	 m.username writerName
		  	FROM E_board e LEFT JOIN E_board_file f ON e.eno = f.eno
		  	                      JOIN  GH_User m ON e.writer = m.userid
		  	ORDER BY eno DESC
	
	  </select>
	  
	  <select id="getebListWithPaging" resultType="com.team.domain.EBoardVO">
	
	    SELECT 
		  	 e.eno eno,
		  	 e.title title,
		  	 e.content content,
		  	 e.writer writer,
		  	 e.addRegion addRegion,
		  	 e.addCi addCi,
		  	 e.addGu addGu,
		  	 e.regdate regdate,
		  	 e.updatedate updateDate,
		  	 f.fileName fileName,
		  	 m.username writerName
		  	FROM E_board e LEFT JOIN E_board_file f ON e.eno = f.eno
		  	                      JOIN  GH_User m ON e.writer = m.userid
	     ORDER BY e.eno DESC
	     LIMIT #{from}, #{amount}
	
	  </select>
	  
	  
	 <select id="getebTotalCount" resultType="int">
 		 SELECT COUNT(*) FROM E_board e
 	 </select>
	  
	  
	<update id="ebupdate">
	  UPDATE E_board
	
		SET
		  	  title = #{title}, 
		  	  content = #{content},
		  	  writer = #{writer},
		  	  updateDate = NOW()
	
		WHERE
			 eno = #{eno}
	  </update>
	  
	 <delete id="ebdelete">
	  		DELETE FROM E_board WHERE eno = #{eno}
	 </delete>
	  



</mapper>