<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.Market_fileMapper">

   <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
      INSERT INTO market_file (mno, fileName)
      VALUES (#{mno}, #{fileName})
   </insert>

   <select id="getByMno" resultType="java.lang.String">
      SELECT fileName
      FROM market_file
      WHERE mno = #{mno}
   </select>

   <delete id="deleteByMno">
      DELETE FROM market_file
      WHERE mno = #{mno}
   </delete>

   <delete id="removeByUserid">
	DELETE FROM market_file
	WHERE mno IN (
	SELECT mno FROM market
	WHERE mwriter = #{userid}
	)
</delete>
  
</mapper>