<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.MessageMapper">
	
	<delete id="mesdelete">
		DELETE FROM GH_Message WHERE mno = #{mno}
	</delete>
	       
	<insert id="mesinsert"  useGeneratedKeys="true" >
		INSERT INTO GH_Message (writer, reader, content)
	  	VALUES (#{writer}, #{reader}, #{content})
	</insert>
	
	<select id="getTotalListSend" resultType ="int">
	  	SELECT count(*) 
	  	FROM GH_Message 
	  	WHERE writer = #{writer} 
	</select>
	
	
	<select id="getListSend" resultType ="com.team.domain.MessageVO">
	  	SELECT * 
	  	FROM GH_Message 
	  	WHERE writer = #{vo.writer} 
	  	order by mno desc
	  	LIMIT #{page}, 10
	</select>

	<select id="getTotalListReceive" resultType ="com.team.domain.MessageVO">
	  	SELECT count(*) 
	  	FROM GH_Message 
	  	WHERE writer = #{writer} 
	</select>
	  
	<select id="getListReceive" resultType ="com.team.domain.MessageVO">
	  	SELECT * 
	  	FROM GH_Message 
	  	WHERE reader = #{vo.writer} 
	  	order by mno desc
	  	LIMIT #{page}, 10
	</select>
	
	<select id="getSearchMessageList" resultType ="com.team.domain.MessageVO">
	  	SELECT mno,
	  	       writer,
	  	       reader,
	  	       content,
	  	       regdate
	  	  FROM GH_Message 
	  	 WHERE content LIKE CONCAT('%',#{content},'%') 
	  	 ORDER BY mno DESC
	</select>
	
	
</mapper>