<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.mapper.SProductMapper">

	<!-- 반복문  -->
	<sql id="category">
		 <where>
		 	<if test='category == "가구" or category == "수납" or category == "조명" or category == "가전" or category == "장식/소품"'>
		 		s.category = #{category}
		 	</if>
	     </where>
	 </sql>


	<!-- 상품등록 -->
	<insert id="insert">
		INSERT INTO S_product 

		(category, userid, title, price, delivery, detail)
		VALUES 
		(#{category}, #{userid}, #{title}, #{price}, #{delivery}, #{detail})
	</insert>

	<insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="pno" keyColumn="pno">
		INSERT INTO S_product (category, userid, title, price, delivery, detail)
		VALUES (#{category}, #{userid}, #{title}, #{price}, #{delivery}, #{detail})
	</insert>


	<!-- 데이터 조회   -->
  	<select id="read" resultMap="productMap" >
         SELECT 
           s.pno pno,
           s.category category,
           s.userid userid,
           s.title title,
           s.price price,
	       s.delivery delivery,
           s.detail detail,
           s.regdate regdate,
           s.updatedate updatedate,
           sf.fileName fileName,
           a.userid userid
         FROM 
           S_product s LEFT JOIN S_product_file sf ON s.pno = sf.pno
            				JOIN GH_User a ON s.userid = a.userid
         WHERE
           s.pno = #{pno}
    </select>  

 	<!-- 데이터 리스트에 담기 -->
 	<select id="getList" resultType="com.team.domain.SProductVO">
      <![CDATA[   
	    SELECT 
	       pno pno,
	       category category,
           userid userid,
           title title,
           price price,
	       delivery delivery,
           detail detail,
           regdate regdate,
           updatedate updatedate
	
	     FROM S_product
	     
	     WHERE category=#{category} ORDER BY pno DESC     
      ]]>   
	</select> 

	<!-- 페이징 : 게시글 총 갯수 -->
	<select id="getTotalCount" resultType="int"> 
  		SELECT COUNT(*) FROM S_product s
  		<include refid="category"></include>
	</select>  


		<!-- 가구 카테고리 페이징 리스트 -->
 	<select id="getCateListWithPaging" resultMap="productMap">
 
		 SELECT 
           s.pno pno,
           s.category category,
           s.userid userid,
           s.title title,
           s.price price,
	       s.delivery delivery,
           s.detail detail,
           s.regdate regdate,
           s.updatedate updatedate,
           sf.fileName fileName
	    	
	     FROM S_product s LEFT JOIN S_product_file sf ON s.pno = sf.pno
         <include refid="category"></include>
         
	     ORDER BY pno DESC
	     LIMIT #{from}, #{amount}     
  
	</select> 

	<!-- 데이터 수정 -->
 	<update id="update">
	  	UPDATE S_product	  	
	  	SET	
	  	    title = #{title}, 
	  	    price = #{price},
	  	    delivery = #{delivery},
	  	    detail = #{detail},
	  	    updateDate = NOW()	    
	  	WHERE
	  	    pno = #{pno} 
	</update> 


	<!-- 데이터 삭제 -->
 	<delete id="delete">
  		DELETE FROM S_product WHERE pno = #{pno}
	</delete> 



	<!-- 계정 삭제시 게시물 삭제 -->
 	<delete id="removeByUserid">
		DELETE FROM S_product
		WHERE userid = #{userid}
	</delete> 

	<!-- 메인스토어 게시글조회  -->
	<select id="getsproductMainList" resultMap="productMap">
		SELECT 
           s.pno pno,
           s.category category,
           s.userid userid,
           s.title title,
           s.price price,
	       s.delivery delivery,
           s.detail detail,
           s.regdate regdate,
           s.updatedate updatedate,
           sf.fileName fileName
	    	
	     FROM S_product s LEFT JOIN S_product_file sf ON s.pno = sf.pno
		ORDER BY regdate DESC
		LIMIT 4;
	</select>

 	  <resultMap type="com.team.domain.SProductVO" id="productMap">
          <id property="pno" column="pno" />
          <result property="category" column="category" />
          <result property="userid" column="userid" />
          <result property="title" column="title" />
          <result property="price" column="price" />
          <result property="delivery" column="delivery" />
          <result property="detail" column="detail" />
          <result property="regdate" column="regdate" />
          <result property="updatedate" column="updatedate" />
		  <collection property="fileName" resultMap="fileNameMap"></collection>
      </resultMap> 
           
      <resultMap type="string" id="fileNameMap">
          <result column="fileName" />
      </resultMap> 
</mapper>



<!--  	<insert id="insertWish">
		INSERT INTO wishlist
		(mwriter, pno)
		VALUES
		(#{mwriter}, #{pno})
	</insert>  -->
