<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.Store_fileMapper">

   <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
      INSERT INTO S_product_file (pno, fileName)
      VALUES (#{pno}, #{fileName})
   </insert>

   <select id="getByPno" resultType="java.lang.String">
      SELECT fileName
      FROM S_product_file
      WHERE pno = #{pno}
   </select>

   <delete id="deleteByPno">
      DELETE FROM S_product_file
      WHERE pno = #{pno}
   </delete>
   
   
   <delete id="removeByUserid">
	DELETE FROM S_product_file
	WHERE pno IN (
	SELECT pno FROM S_product
	WHERE userid = #{userid}
	)
</delete>

</mapper>